
/* ---------------------------header----------------------------*/

header {
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #777777;
}

.dHead {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    height: 80px;
}

.wg {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 20px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

nav li {
    float: right;
    
}

nav {
    padding-top: 30px;
}

nav li a {
    display: block;
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4aaaa5;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
}

/* ---------------------body-------------------------------- */

body{
    margin: 0px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
}

.dBody {
    width: 100%;
    min-height: calc(100vh - 199px);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 88px;
    background-image: url("../images/background.png");
    background-color: antiquewhite;
}

.dBox {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
}

hr {
    margin: 0px;
}

/* --- Biography --- */

.aboutMe {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 20px;
    margin: 0px;
    line-height: 2.25;
    font-size: 16px;
}

#bioPic {
    width: 15em;
    float: left;
    margin: 30px 30px 30px 0px;
}


/* --- Portfolio --- */

.port {
    position: relative;
    width: 300px;
    height: 225px;
}
.jobs {
    padding: 30px 30px 0px 0px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.banner {
    width: 300px;
    height: 50px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: -50px;
    left: 150px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.jName {
    background-color: #4aaaa5;
    padding: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
}

.port:hover .jobs {
    opacity: 0.3;
}

.port:hover .banner {
    opacity: 1;
}

/* --- Contact Page --- */

form{
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 30px;
    line-height: 1.75; 
}

.info {
    width: 100%;
    height: 20px;
    text-indent: 10px;
    margin-bottom: 20px;
}

.message {
    width: 100%;
    height: 200px;
    text-indent: 10px;
    margin-bottom: 20px;
}

.submit {
    width: 100px;
    height: 40px;
    background-color: #4aaaa5; 
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
}

.submit:hover {
    opacity: 0.5;
}

/* --------------------------------- foot --------------------------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    clear: both;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #666666;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    border-top: 8px solid #4aaaa5;
}

